@import '../../../styles-variable.scss';

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px silver;

    h2, h3 {
        text-align: center;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        

        .picture-header {
            width: 100%;
            max-width: 500px;
            height: 200px

            img {
                max-width: 100%;
            }

            .reduction {
                transform: rotate(-45deg);
                position: absolute;
                margin: 15px;
                font-size: 5em;
                font-weight: bold;
                text-shadow: 0px 0px 5px silver;
                color: rgb(0, 179, 36);
            }
        }
        
        .info-header{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;

            .prices {
                display: flex;
                justify-content: center;
                width: 300px;

                .price {
                    color: rgb(44, 228, 44);
                    font-size: 3em;
                    font-weight: bold;
                    margin: 10px;
                    text-shadow: 0px 0px 3px silver;
                }
                .initialPrice {
                    text-decoration: line-through;
                    color: rgb(233, 76, 76);
                    font-size: 2em;
                    margin: 10px;
                    text-shadow: 0px 0px 3px silver;
                }
            }

            .note {
                display: flex;
                justify-content: flex-start;
                i {
                    width: 30px;
                    color: rgb(187, 187, 11);
                }
                margin: 20px;
            }

            .labels{
                display: flex;
                width: 80%;
                justify-content: space-around;
                .label {
                    width: 80px;
                    height: 80px;
                    margin: 10px;
                }
            }
    
            .buy-btn {
                width: 80%;
                max-width: 300px;
                color: white;
                background-color: green;
            }
        }

    }


}