:host {

    display: block;
    margin: 10px;

    mat-panel-title {
        display: flex;
        flex-direction: column;

        .favorite-icon {
            color: red;
        }

        .title {
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    .panel-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .more-info-btn {

        width: 60%;
        margin: 20px;
    }
}