:host {
    display: block;
    box-shadow: 0px 0px 5px silver;
    width: 100px;
    height: 140px;
    margin: 5px;
    padding: 5px;

    img {
        width: 100px;
        height: 100px;
    }

    .prices-reduc {
        display: flex;
        justify-content: center;
        align-items: center;
        .prices {
            .initial-price {
                color: red;
                text-decoration: line-through;
            }

            .price {
                color: green;
                font-weight: bold;
                font-size: 1.1em;
            }
        }

    }
}

/*
:host{

    display: block;
    margin: 5px 0;

    .product-item{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        width: 100%;
    
        .left {
            .product-name {
                font-weight: bold;
            }
    
            .prices{
                .initial-price {
                    color: red;
                    font-size: 1.2em;
                    text-decoration: line-through;
                }
    
                .price {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: green;
                }
            }
        }
        
        img{
            width: 60px;
            height: 60px;
        }
    }
}*/
