@import '../../../styles-variable.scss';

:host {

    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;

    mat-toolbar {
        display: flex;
        background-color: #4484CE;
        color: white;
        box-shadow: 0px 0px 5px silver;

        .container {

            display: flex;
            justify-content: space-between;

            .logo {
                display: flex;
                font-family: 'Kalam', cursive;
                font-weight: bold;
                i {
                    margin-right: 10px;
                }
            }

            @media only screen and (max-device-width: $break-point){
                .link-list, .search, .logo-left{
                    display: none;
                }
            }

            @media only screen and (min-device-width: $break-point){
                .btn-menu, .btn-search, .logo-right {
                    display: none;
                }

                .link-list{
                }

                .search{
                    display: flex;
                    justify-content: flex-end;
                    height: 30px;

                    .search-field {
                        max-width: 300px;
                    }
                }
            }
        }

        
    }


}

