@import '../../../styles-variable.scss';

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px silver;

    h2, h3 {
        text-align: center;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        

        .picture-header {
            width: 100%;
            max-width: 500px;
            height: 200px

            img {
                max-width: 100%;
            }
            .reduction {
                position: absolute;
                margin: 15px;
                font-size: 5em;
                font-weight: bold;
                text-shadow: 0px 0px 5px black;
                color: rgb(255, 115, 0);
            }
        }
        
        .info-header{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;

            .prices {
                display: flex;
                .initialPrice {
                    text-decoration: line-through;
                    color: red;
                    font-size: 2em;
                }
                .price {
                    color: green;
                    font-size: 3em;
                    font-weight: bold;
                }
            }

            .note {
                display: flex;
                justify-content: flex-start;
                width: 200px;
                i {
                    width: 30px;
                }
            }
    
            .buy-btn {
                width: 80%;
                color: white;
                background-color: green;
            }
        }

    }


}